.navlinks{
    list-style-type: none;
    text-decoration-line: none;
    margin:10px 10px !important;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navlinksItems{
    margin:10px !important;
}
.navHolder{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navHolder *{
    margin:0px;
    text-decoration-line: none;
    padding:0px;
}
.active{
    color: #663399 !important;
    text-decoration-line: line-through !important;
    font-weight: bold;
}
.navUnderlined{
    text-decoration-line: none;
    color:black;
}

.navUnderlined:hover{
    color: #663399;
}
@media only screen and (max-width: 900px) {
    .navlinks{
       display: none;
    }

}