.root{
    min-height: 100vh;
    background-color:white;
    margin: 0px 20%;
    animation-name: fadeIn;
    display: grid;
    max-width: 100% !important;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    animation-duration: 1s;
}
@keyframes fadeIn{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1;
    }
}
@media only screen and (max-width: 900px) {
    .root{
        margin: 0px 0px;
    }
}