.mainHolder{
    margin:20px 15px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#description{
    color:hsl(0, 0%, 13%);
    font-size: 14px;
}
.mainHolder p{
    line-height: 1.7em;
}
.frameworks div{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:20px;
    border-radius: 5px;
    padding:5px;
}
.frameworks div p{
    margin: 0px 20px;
    font-weight: bold;
    font-size: 18px;
}
.reachOutButton{
    border-radius: 2px;
    background-color: #663399;
    color:white;
    outline: none;
    font-size: 12px;
    height: 30px;
    cursor: pointer;
    width: 90px;
    border:none;
}
@media only screen and (max-width: 900px) {
    .mainHolder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0px 15px 20px;
    }
    .frameworks{
        display: none;
    }
}

