.projectHolder{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:'0px 20%';
    align-items: center;
}
.gameBtn{
    border-radius: 2px;
    background-color: #663399;
    outline: none;
    font-size: 12px;
    height: 30px;
    width:auto;
    height:50px;
    cursor: pointer;
    width: 90px;
    border:none;
}

@media only screen and (max-width: 900px) {
    .alertMessage{
      width: 250px;
      text-align: center
    }
}