.quizHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20%;
    background-color: white;
    animation-name: fadeIn;
    animation-duration: 1s;
    border-radius: 10px;
    height: 100vh;
}

@keyframes fadeIn{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1;
    }
}
.quizHolder div button{
    display: block;
    margin:20px;
    border: none;
    background-color: #663399;
    color:white;
    padding:5px;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    width:250px;
    height:50px;
}
.quizHolder h4{
    width: 250px;
    text-align: center;
    font-size: 20px;
}
.profilePicture{
    width: 150px;
    height: 150px;
}
#countdownTimer{
    position: relative;
}
#svg{
    position: absolute;
    left: -15px;
    top: -11px;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg)
}
#svg circle{
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: aqua;
    fill: none;
    animation: countdown 7s linear infinite forwards
}
@keyframes countdown{
    from{
        stroke-dashoffset: 0px;
    }
    to{
        stroke-dashoffset: 113px
    }
}
.playButton{
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    margin:10px;
    outline: none;
    padding: 10px;
}
.wrong:hover{
    transition: all 0.2s ease-in-out;
    animation: swing 1s ease
}
@keyframes swing{
    15%{
        transform: translateX(5px)
    }
    30%{
        transform: translateX(-5px)
    }
    50%{
        transform: translateX(3px)
    }
    65%{
        transform: translateX(-3px)
    }
    80%{
        transform: translateX(2px)
    }
    100%{
        transform: translateX(0px)
    }
}
.playButton:hover{
    opacity: 0.7;
}
.quizHolder div button:hover{
    opacity: 0.7;
}

@media only screen and (max-width: 900px) {
    .quizHolder{
        margin: 0px 10%;
    }

}