.socialMain li{
display: inline;
margin: 6px;
}
.socialMain{
    list-style-type: none;
    margin:20px 0px;
    padding:0px;
    width: auto;
    animation-name: reveal;
    animation-duration: 2s;
}

@keyframes reveal{
    from{
        opacity: 0
    }
    to{
        opacity: 1
    }
}
