.App {
  text-align: center;
}
.hero *{
  margin: 2px;
}
.hero{
  margin: 0px 20px
}

*{
  color: white
}
body{
   margin: 0px;
   padding: 0px;
   background-color: #0d1219;
   box-sizing: border-box
}
html{
  box-sizing: border-box
}
#top-bar-misc *{
  margin: 0px 5px
}
.post-tag{
  display: inline
}